---
---
@import "reset.scss";
@import "fontcustom.scss";
@import "colors.scss";

body {
  background: {
    color: $background;
  }
  color: $text;
  font: {
    family: "effra", sans-serif;
    size: 18px;
    weight: 400;
  }
}

span.invisible-text {
  display: none;
}

i, em, cite {
  font-style: italic;
}

b, strong {
  font-weight: 500;
}

a {
  color: $accent;

  &:hover {
    color: $text;
  }

  &:visited {
    color: $accent2;
  }

  &.footnote {
    font-size: .75em;
    line-height: 100%;
    margin-right: .5em;
    text-decoration: none;
    vertical-align: super;
  }
}

b {
  font: {
    weight: 500;
  }
}

h2 {
  font: {
    size: 1.25em;
    weight: 500;
  }
  margin-bottom: 1em;
}

h3 {
  font: {
    size: 1em;
    weight: 500;
  }
  margin: {
    top: 1.5em;
    bottom: .5em;
  }
}

p {
  margin: {
    bottom: 1em;
  }
}

span.indicator {
  display: inline-block;
  float: left;
  margin: {
    left: -1.5em;
  }
}

img {
  max-width: 100%;
  width: 100%;
}

.clear-block {
  clear: both;
}


// Home //

.posts {
  list-style-type: none;
  margin: 0 2em 4em 2em;
}

.posts li {
  line-height: 1.25em;
  margin: 1.5em 0;
  position: relative;

  &.long-post {
    background-color: lighten($lightHighlight,10%);
    border: {
      color: $mediumHighlight;
      style: solid;
      width: 0 0 1px 0;
    }
    margin: 0 -2em .1em -2em;
    padding: 1em 2em 1.5em 2em;

    a.list-title {
      font-weight: 500;
    }
  }

  a.list-title {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    line-height: 167%;
    margin-top: .5em;

    span.excerpt {
      margin-right: .5em;
    }

    span.details {
      white-space: nowrap;

      a.detail {
        color: $mediumHighlight;
        font-size: 80%;
        margin-right: .5em;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  blockquote {
    border: {
      color: $mediumHighlight;
      style: dotted;
      width: 0 0 0 2px;
    }

    padding-left: 1em;
  }

  hr {
    border-width: 0;
    margin: 1.5em 0 3em 0;
    text-align: center;

    &:after {
      border-width: 0;
      color: $mediumHighlight;
      content: "❊ ❊ ❊";
    }
  }
}

// Site //

.site {
  max-width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
  width: 95%;
}

.header {
  border-bottom: 4px solid $lightHighlight;
  margin-bottom: 2em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
}

.title {
  display: inline-block;
  margin-bottom: 1em;

  span.logo {
    font-size: 2.5em;
    margin-right: .125em;
  }
}

.header div.links {
  display: inline-block;
}

.header div.buttons {
  display: inline-block;
  float: right;
  padding-top: .66667em;
}

.title a {
  color: $accent;
}

.header a.extra {
  color: $accent2;
  margin-left: 1em;
}

.header a.button {
  font-size: 1.5em;
  margin-left: .5em;
}

.meta {
  color: $darkHighlight;
}

.pagination {
  text-align: center;

  .page-number {
    margin: 0 1em;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer {
  border-top: 4px solid $lightHighlight;
  clear: both;
  font-size: 80%;
  margin-top: 4em;
  padding-top: 1em;
  overflow: hidden;

  p.credits {
    font-size: .75em;
    clear: both;
    padding-top: 2em;
    text-align: center;

    a {
      background: $lightHighlight;
      border-radius: .25em;
      color: $darkHighlight;
      margin-right: .25em;
      padding: .125em .5em;
      text-decoration: none;

      &:hover {
        color: $accent2;
        text: {
          decoration: none;
        }
      }
    }
  }
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: $darkHighlight;
  text: {
    decoration: none;
  }

  &:hover {
    text: {
      decoration: underline;
    }
  }
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

// Posts //

/* standard */
.post p {
  line-height: 167%;
}

.post img {
  &.book-cover {
    border: 1px solid $lightHighlight;
    float: right;
    margin: 1em 0 1em 1em;
    max-width: 40%;
  }
}

.post pre {
  border-radius: .4em;
  border: 1px solid $mediumHighlight;
  background-color: $lightHighlight;
  font: {
    family: "source-code-pro", monospace;
  }
  margin: 1.5em 0;
  overflow-x: scroll;
  padding: 0 .4em;
}

.post blockquote {
  border: {
    color: $mediumHighlight;
    style: dotted;
    width: 0 0 0 2px;
  }
  margin: {
    top: 1.5em;
    bottom: 1.5em;
  }
  padding-left: 1em;
}

.post ul, .post ol {
  margin: 2em 0 2em 1.35em;
}

.post ul {
  list-style-type: circle;
}

.post hr {
  border-width: 0;
  margin: 1.5em 0 3em 0;
  text-align: center;

  &:after {
    border-width: 0;
    color: $mediumHighlight;
    content: "❊ ❊ ❊";
  }
}

.post.reading_list ul {
  margin-bottom: 3em;
}

.post.reading_list li {
  line-height: 167%;
  margin-bottom: 1.5em;

  &:after {
    border-width: 0;
    color: $mediumHighlight;
    content: "❊ ❊ ❊";
    display: block;
    margin-top: 1em;
    text-align: center;
  }

  &:last-child {
    &:after {
      content: "";
    }
  }
}

table.books {
  tr {
    border: {
      color: $lightHighlight;
      style: solid;
      width: 0 0 1px 0;
    }

    &:last-child {
      border-width: 0;
    }
  }

  ul.filters {
    display: inline-block;

    li {
      display: inline-block;
      margin-left: 1em;

      a {
        display: inline-block;
        text-decoration: none;

        &.here {
          background-color: $lightHighlight;
        }
      }
    }
  }

  th {
    font-weight: bold;
    padding: .5em .25em;
    text: {
      align: left;
      transform: uppercase;
    }

    &.notes {
      text-align: center;
    }
  }

  td {
    padding: .5em .25em;

    &.citation {
      vertical-align: top;
      width: 80%;

      p {
        margin: 0;
        padding-left: 1em;
        text-indent: -1em;
      }
    }

    &.notes {
      text-align: center;
      vertical-align: middle;
      width: 20%;

      a {
        white-space: nowrap;
      }
    }
  }
}

.post ul.reading-list {
  span.citation {
    display: block;
    font: {
      weight: 500;
    }
    margin-bottom: .5em;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  span.note {
    display: block;
    margin-bottom: .25em;
  }

  span.links {
    display: block;
    font: {
      size: .75em;
    }
    text-align: right;

    a {
      background-color: $lightHighlight;
      border-radius: .25em;
      color: $darkHighlight;
      margin-right: .25em;
      padding: .125em .5em;
      text-decoration: none;

      &:hover {
        color: $accent2;
        text-decoration: none;
      }
    }
  }
}

.post code {
  font: {
    family: "source-code-pro", monospace;
    size: 0.875em;
  }
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

// Footnotes //

.footnotes {
  border-top: 4px solid $lightHighlight;
  margin: {
    top: 3em;
  }
  padding-top: 1em;

  ol {
    list-style-type: decimal;
  }
}

@media all and (max-width: 550px) {
  body {
    font-size: 16px;
  }

  .site {
    margin-top: 1em;
  }

  .posts li.long-post {
    padding: 1em .5em .5em .5em;
  }

  .post img.book-cover {
    display: block;
    float: none;
    margin: 1em auto;
    max-width: 80%;
  }

  .header div.links {
    display: block;

    a.extra:first-child {
      margin-left: 0;
    }
  }

  .header div.buttons {
    display: block;
    float: none;
    padding-bottom: .5em;

    a.button:first-child {
      margin-left: 0;
    }
  }
}