---
layout: default
---

<div id="home">
  <ul class="posts">
    {% for post in paginator.posts %}
      {% if post.type == "long" %}
        <li class="long-post">
          <a class="list-title" href="{{ post.url }}">{{ post.title }}</a> 
          <p>
            <span class="excerpt">{{ post.excerpt }}</span> <span class="details"><a class="detail" href="{{ post.url }}">Read more &raquo;</a> <a class="detail" href="{{ post.url }}">{{ post.date | date_to_string }}</a></span>
          </p>
          <!-- <hr> -->
        </li>
      {% else %}
        <li>
          {% if post.type == "tech_note" %}
            <span class="indicator icon-note"></span>
          {% elsif post.type == "reading_list" %}
            <span class="indicator icon-book"></span>
          {% elsif post.type == "list" %}
            <span class="indicator icon-list"></span>
          {% endif %}
          <a class="list-title" href="{{ post.url }}">{{ post.title }} &raquo;</a>
          <p>
            <span class="details"><a class="detail" href="{{ post.url }}">{{ post.date | date_to_string }}</a></span>
          </p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">≪ Previous</a>
    {% endif %}
    <span class="page-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next ≫</a>
    {% endif %}
  </div>
</div>