{% if post.books.size > 0 %}
  {% assign books = post.books %}
{% elsif page.books.size > 0 %}
  {% assign books = page.books %}
{% endif %}

{% if books.size > 0 %}
  <div class="clear-block"></div>
  <h3>Books</h3>
  <ul class="reading-list">
    {% for book in books %}
      <li>
        {% include books/citation.html book_id=book.id %}
        {% if book.note %}
          <span class="note">{{ book.note | markdownify }}</span>
        {% endif -%}
        {% include books/links.html book_id=book.id %}
      </li>
    {% endfor %}
  </ul>
{% endif %}