/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_badfed0cedab57379fe6f33a27e44d2b.eot");
  src: url("./fontcustom_badfed0cedab57379fe6f33a27e44d2b.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_badfed0cedab57379fe6f33a27e44d2b.woff") format("woff"),
       url("./fontcustom_badfed0cedab57379fe6f33a27e44d2b.ttf") format("truetype"),
       url("./fontcustom_badfed0cedab57379fe6f33a27e44d2b.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_badfed0cedab57379fe6f33a27e44d2b.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-book:before,
.icon-list:before,
.icon-note:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-book:before { content: "\f100"; }
.icon-list:before { content: "\f101"; }
.icon-note:before { content: "\f102"; }
