---
layout: default
title: Lists
---

<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.type == "list" %}
        <li>
          <span class="indicator icon-list"></span>
          <a class="list-title" href="{{ post.url }}">{{ post.title }} &raquo;</a>
          <p>
            <span class="details"><a class="detail" href="{{ post.url }}">{{ post.date | date_to_string }}</a></span>
          </p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>