---
layout: default
---
{% if page.type == "quotation" %}
{% else %}
  {% if page.type == "tech_note" %}
    <h2><span class="indicator icon-note"></span>{{ page.title | raw }}</h2>
  {% elsif page.type == "list" %}
    <h2><span class="indicator icon-list"></span>{{ page.title | raw }}</h2>
  {% else %}
    <h2>{{ page.title | raw }}</h2>
  {% endif %}
  <p class="meta">{{ page.date | date_to_string }}</p>
{% endif %}

<div class="post {{ page.type }}">
{{ content }}
</div>

{% if page.type == "quotation" %}
  <p class="meta">{{ page.date | date_to_string }}</p>
{% endif %}

{% if page.previous or page.next %}
    <div class="adjacent-posts">
        <hr>

        {% if page.previous %}
            <div class="link previous">
                <a href="{{ page.previous.url }}">
                    &laquo; {{ page.previous.title }}
                </a><br>
                <span class="small">{{ page.previous.date | date_to_string }}</span>
            </div>
        {% endif %}

        {% if page.next %}
            <div class="link next">
                <a href="{{ page.next.url }}">
                    {{ page.next.title }} &raquo;
                </a><br>
                <span class="small">{{ page.next.date | date_to_string }}</span>
            </div>
        {% endif %}
        <div class="clear-block"></div>
    </div>
{% endif %}
