---
layout: default
---
{% if page.type == "quotation" %}
{% else %}
  {% if page.type == "tech_note" %}
    <h2><span class="indicator icon-note"></span>{{ page.title | raw }}</h2>
  {% elsif page.type == "list" %}
    <h2><span class="indicator icon-list"></span>{{ page.title | raw }}</h2>
  {% else %}
    <h2>{{ page.title | raw }}</h2>
  {% endif %}
  <p class="meta">{{ page.date | date_to_string }}</p>
{% endif %}

<div class="post {{ page.type }}">
{{ content }}
</div>

{% if page.type == "quotation" %}
  <p class="meta">{{ page.date | date_to_string }}</p>
{% endif %}

{% include adjacent_posts.html %}

{% if page.type == "quotation" %}
    {% include other_posts.html label="Other Quotations" %}
{% elsif page.type == "tech_note" %}
    {% include other_posts.html label="Other Tech Notes" %}
{% elsif page.type == "list" %}
    {% include other_posts.html label="Other Lists" %}
{% else %}
    {% include other_posts.html label="Other Posts" %}
{% endif %}
