---
layout: default
---
<h2><span class="indicator icon-book"></span>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post reading_list">
  {{ content }}

  <h3>Books</h3>
  <ul class="reading-list">
    {% for book in site.data.books -%}
      {% for note in book.notes -%}
        {{ post.date }}
        {% if note.date <= page.date -%}
          {% capture notedate %}{{ note.date | date: '%s' }}{% endcapture %}
          {% capture pagedate %}{{ page.date | date: '%s' }}{% endcapture %}
          {% assign notedate = notedate | plus: 0 %}
          {% assign lastweek = pagedate | minus: 604799 %}
          {% if notedate >= lastweek %}
            <li>
              <span class="citation">
                {% if book.amzn -%} 
                  <a href="http://www.amazon.com/exec/obidos/asin/{{ book.amzn }}/ref=nosim/latin031-20">{{ book.citation }}</a>
                {% else if book.worldcat -%}
                  <a href="http://worldcat.org/oclc/{{ book.oclc }}">{{ book.citation }}</a>
                {% else -%}
                  {{ book.citation }}
                {% endif -%}
              </span>
              <span class="note">{{ note.content | markdownify }}</span>
              <span class="links">
                {% if book.oclc -%}
                  <a href="http://worldcat.org/oclc/{{ book.oclc }}">WorldCat &raquo;</a>
                {% endif -%}
                {% if book.amzn -%}
                  <a href="http://www.amazon.com/exec/obidos/asin/{{ book.amzn }}/ref=nosim/latin031-20">Amazon &raquo;</a>
                {% endif %}
              </span>
            </li>
          {% endif -%}
        {% endif -%}
      {% endfor -%}
    {% endfor -%}
  </ul>
</div>